body {
    color: #333;
}

.text-right {
    text-align:right;
}

.text-center {
    text-align:center;
}

.app-header {
    padding:10px 5px;
    border-bottom:1px solid #ccc;
}

.app-title {
    font-size:1.3em;
    margin-bottom:0;
    margin-top:10px;
}

.app-title a,
.app-title a:hover {
    color:inherit;
}

.app-page {
    padding:15px 0;
}

.form-abtest .input-group {
    margin-bottom: 15px;
}

.abtestgroup-fields {
    padding:15px;
    border:1px solid #ccc;
}

.underline-hover:hover {
    text-decoration: underline;
}

.abtestgroups-row {
    margin-bottom:15px;
}

.submit-buttons {
    padding:15px;
    position: fixed;
    left:0;
    bottom:0;
    right:0;
    border-top:1px solid #ccc;
}

.form-header {
    background:#eee;
    margin-top:-15px;
    margin-bottom:15px;
}

.form-group-abtest-title {
    margin-bottom:15px;
}

.abtestgroup-title-input {
    margin-bottom:15px;
}

.pad {
    padding:10px;
}

.abtest-meta {
    background:#eee;
    font-size:1.3em;
}

.abtest-meta .day {
    font-size:2em;
}

.abtest-title {
    font-size:3.3em;
    margin-bottom:20px;
    margin-top:0;
}

.abtest-title small {
    font-size:0.4em;
}

.abtest-row {
    margin-bottom:40px;
}

.abtest-status {
    text-transform:capitalize;
}

.no-bullet {
    list-style-type: none;
}

.no-bullet > li {
    list-style-type: none;
}

.status-active {
    color:#5E8638;
}

.abtest-none {
    border-bottom:1px solid #eee;
    font-size:2.3em;
}

.abtest-none h4,
.abtest-none h5 {
    font-weight:normal;
    font-size:1em;
}

.abtest-none h5 {
    font-size:0.8em;
}
