.form-abtest .input-group {
    margin-bottom: 15px;
}

.app-page {
    padding:15px;
}

.underline-hover:hover {
    text-decoration: underline;
}

.row-alternate {
    background:#eee;
}

.abtestgroups-row {
    margin-bottom:15px;
}

.form-group-abtest-title {
    margin-bottom:15px;
}

.abtestgroup-title-input {
    margin-bottom:15px;
}

.pad {
    padding:10px;
}

.abtest-meta {
    background:#eee;
    font-size:1.3em;
    position:absolute;
    top:0;
    bottom:0;
}

.abtest-meta-content {
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
    -webkit-transform:translate(-50%, -50%);
    -moz-transform:translate(-50%, -50%);
}

.abtest-meta .day {
    font-size:2em;
}

.abtest-title {
    margin-bottom:20px;
    margin-top:0;
}

.abtest-title small {
    font-size:0.4em;
}

.abtest-row {
    position:relative;
    margin-bottom:40px;
}

.abtest-status {
    text-transform:capitalize;
}

.no-bullet {
    list-style-type: none;
}

.no-bullet > li {
    list-style-type: none;
}

.status-active {
    color:#5E8638;
}

.abtest-none {
    border-bottom:1px solid #eee;
    font-size:2.3em;
}

.abtest-none h4,
.abtest-none h5 {
    font-weight:normal;
    font-size:1em;
}

.abtest-none h5 {
    font-size:0.8em;
}

.cell-heading-big {
    font-size: 2em;
}

.abtest-group {
    padding-top:30px;
    padding-bottom:30px;
    position:relative;
}

.abtest-group:first-child {
    padding-top:15px;
}

.no-margin-top {
    margin-top:0;
}

.center-vert-absolute {
    position:absolute;
    top:50%;
    transform: translateY(-50%);
}

.abtest-group .icon-winner {
    font-size:2em;
    position:absolute;
    right:15px;
    top:50%;
    transform:translateY(-50%);
}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .abtest-group .icon-winner {
        top:15px;
        transform:none;
    }

    .abtest-group .header-abtest-group {
        padding-right:40px;
        padding-left:40px;
    }

    .header-abtest-group {
        text-align:center;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 481px) and (max-width : 767px) {
    .abtest-group .icon-winner {
        top:15px;
        transform:none;
    }

    .abtest-group.header-abtest-group {
        padding-right:40px;
        padding-left:40px;
    }
}

@media only screen and (min-width: 481px) {
    .xs-text-center {
        text-align:center;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 768px) and (max-width: 979px) {
    .page-index .hero {
        font-size:3em;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 768px) {
    .sm-text-left {
        text-align:left;
    }

    .sm-text-center {
        text-align:center;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
