<header class="page-header section bg-blue">
    <div class="section-inner">
        <div class="row">
            <h1 class="site-title col-sm-6">
                <a href="/">
                    <svg width="32" height="32" class="logo-svg color-compliment">
                        <rect x="0" y="0" width="20" height="6" fill="#fff" />
                        <rect x="7" y="5" width="6" height="16" fill="#fff" />
                        <rect x="18" y="11" width="6" height="16" fill="#fff" />
                        <rect x="11" y="26" width="20" height="6" fill="#fff" />
                    </svg>
                    <span>Turissini Technologies, LLC</span>
                </a>
            </h1>
            <nav class="hidden-xs header-nav col-sm-6 col-xs-12">
                <ul class="row text-right no-bullet">
                    <li class="col-xs-6 col-sm-6"><a href="/login">Sign In</a></li>
                    <li class="col-xs-6 col-sm-6"><a href="/register" class="btn btn-primary">Create Account</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
