<header class="page-header row section">
    <div class="section-inner">
        <header class="col-xs-12">
            <h1 class="col-sm-6"><a href="/">Data-Driven Design</a></h1>
            <nav class="header-nav col-sm-6">
                <ul class="nav nav-pills pull-right">
                    <li><a href="/documentation">API Documentation</a></li>
                    <li><a href="/login">Log In</a></li>
                    <li><a href="/register">Register</a></li>
                </ul>
            </nav>
        </header>
    </div>
</header>
