<header class="page-header section bg-blue">
    <div class="section-inner">
        <div class="row">
            <h1 class="site-title col-sm-4"><a href="/"><span class="logo"></span><span>Turissini Technologies, LLC</span></a></h1>
            <nav class="header-nav col-sm-8 col-xs-12">
                <ul class="row text-right no-bullet">
                    <li class="col-xs-6 col-sm-offset-6 col-sm-3"><a href="/login">Sign In</a></li>
                    <li class="col-xs-6 col-sm-3"><a href="/register" class="btn btn-primary">Create Account</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
