/* http://colorschemedesigner.com/csd-3.5/#3C21Tw0w0w0w0 */
html, body {
    background:#fff;
    color: #666;
    font-size:16px;
    height:100%;
}


.bg-blue {
    background:#04346c;
    color:#fff;
}

.bg-blue a, .bg-blue a:active, .bg-blue a:focus {
    color:#fff;
}

.bg-blue a:hover {
    color:#ffe140;
}


a, a:active, a:focus {
    color:#04346c;
}

.color-primary {
    color:#04346c;
}

.color-compliment {
    color: #ffe140;
}

.inline-block-list li {
    display: inline-block;
    padding:0 20px;
}

.section {
    margin-bottom:20px;
}

.site-title {
    font-size:1em;
    margin-top:-4px;
    position:relative;
    z-index:10;
}

.site-title a:hover .logo-svg rect {
    fill:#ffe140;
}

.section .section-inner {
    margin:0 auto;
    max-width:1024px;
    padding:0 20px;
    position:relative;
}

.page-header {
    padding-top:10px;
    margin-bottom:0;
    padding-bottom:5px;
    margin-top:0;
}


.page-footer {
    padding-top:20px;
    margin-bottom:0;
    margin-top:15px;
    padding-bottom:20px;
}

.section-border-bottom {
    padding-bottom:20px;
    border-bottom:1px solid #eee;
}


.hero .btn {
    font-size:0.5em;
    margin-top:25px;
}

h1 {
    font-size:38px;
}

h1 a {
    color: inherit;
}

h1 a:hover {
    text-decoration:none;
}

h1, h2, h3 {
    line-height: 1.3;
}

input[type=submit] {
    color:#fff;
    border:0;
    margin-top:-1px;
}

.cell-icon {
    margin-bottom:20px;
}

.cell-icon .image {
    width:100%;
}

.thankyou {
    color:#CEA145;
}

.site-title .logo {
    font-size:2em;
    display:inline;
}

.logo-svg {
    vertical-align: middle;
}

.logo-svg.color-compliment rect {
    fill:#ffe140;
}

form input {
    font-size:18px !important;
}

.page-header {
    border-bottom:0;
    margin-top:0;
}

.header-nav {
    margin-top:19px;
}

.btn-primary  {
    background-color:#4284d3;
    border-color:#4284d3;
}

.btn-primary:hover {
    background-color:#274e7d;
    border-color:#274e7d;
}

.header-nav .btn {
    margin-top:-4px;
}

.text-right {
    text-align:right;
}

.text-center {
    text-align:center;
}

input[type=submit] {
    vertical-align: bottom;
}

.no-bullet {
    padding-left:0;
    margin-left:0;
    list-style-type: none;
}

.no-bullet > li {
    list-style-type: none;
}

.nav-docs {
    padding-top:30px;
}

.main-docs {
    border-left:1px solid #eee;
}

.figure img {
    max-width:100%;
}

.figure-docs {
    background:#eee;
    padding:10px;
}

.figure-docs figcaption {
    text-align:right;
    padding:10px 0;
}

.figure-docs .image {
    width:100%;
}

.chapter {
    margin-bottom:100px;
}

.chapter h2 {
    font-size:3em;
    margin-bottom:30px;
}

.inline-block {
    display:inline-block;
}

.vert-align-middle {
    vertical-align:middle;
}

.navbar-brand-nav .navbar-nav > li > a:hover,
.navbar-brand-nav > li > a:active,
.navbar-brand-nav > li > a:focus {
    background: transparent;
}

.navbar-brand-nav .navbar-nav>li>a {
    color:#fff;
}

.navbar-brand-nav .navbar-brand:focus,
.navbar-brand-nav .navbar-brand:hover {
    color:#ffe140;
}

.navbar-brand-nav .navbar-nav>li>a:hover {
    color:#ffe140;
}

.navbar-brand-nav .navbar-collapse {
    border:0;
}

.navbar-brand-nav .navbar-right {
    margin-right:0;
}

.navbar-brand-nav .navbar-brand {
    color:#fff;
}

.navbar-brand-nav {
    background:#04346c;
    border:0;
    border-radius:0;
    color:#fff;
    padding:10px 0;
    margin-bottom:0;
}

.navbar-brand-nav .navbar-toggle:focus,
.navbar-brand-nav .navbar-toggle:hover {
    background: transparent;
}

.navbar-brand-nav .navbar-toggle.active {
    border-color: #ffe140;
    background: transparent;
}

.navbar-brand-nav .navbar-toggle.active .icon-bar {
    background: #ffe140;
}

.navbar-brand-nav .navbar-toggle .icon-bar {
    background:#fff;
    border-color:#fff;
}

.navbar-brand-nav .navbar-collapse.in .navbar-nav {
    margin-left:15px;
    text-align:right;
}

.navbar-brand-nav .navbar-collapse.in .navbar-nav a {
    padding-left:0;
}

.navbar-brand-nav .user-welcome {
    display: block;
    padding:15px;
}

.block-link {
    position:relative;
    z-index:10;
}

.block-link:hover .hover-underline {
    text-decoration: underline;
}

.block-link .link {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:10;
}


.app-nav-item {
    padding:15px;
}

.app-nav-item.active,
.app-nav-item:hover {
    color: #04346C;
}

.app-nav-item.active:after,
.app-nav-item:hover:after {
    border:10px solid transparent;
    border-top-color:#274E7D;
    content: "";
    height:0;
    width:0;
    position:absolute;
    top:100%;
    left:50%;
    transform:translateX(-50%);
}

.app-nav-item.active .link-bottom-border,
.app-nav-item:hover .link-bottom-border{
    display:block;
    position:absolute;
    width:50%;
    left:50%;
    top:100%;
    transform:translateX(-50%);
    height:1px;
    background:#274E7D;
    z-index:10;
}


.app-nav-item .icon {
    display:block;
    font-size:1.5em;
    margin-bottom:15px;
}

.link-bottom-border {
    display:none;
}

.app-nav {
    background:#e1e1e1;
    border-bottom:1px solid #b1b1b1;
    color:#666;
    margin-bottom:25px;
}

.cell-heading {
    font-size: 1em;
}

.cell-heading.big {
    font-size:2em;
}

.circled {
    display:inline-block;
    position:relative;
}

.circled:after {
    content:"";
    position:absolute;
    left:-0.4em;
    top:0;
    right:-0.4em;
    bottom:0;
    border:3px solid #666;
    border-radius:1em;
    display:inline-block;
}

.btn-wire {
    border:1px solid #b1b1b1;
    color: #666;
}

.btn-wire:active {
    box-shadow:none;
}

.pipe {
    display:block;
    width:1px;
    background:#b1b1b1;
}

.box-wire {
    border-radius:4px;
    border:1px solid #b1b1b1;
    color: #666;
}

.btn-wire:hover {
    border-color:#04346c;
    color:#04346c;
}

.piped.piped-default .pipe {
    height:2em;
    margin:15px auto;
}


.label-box {
    position: relative;
}

.label-box > input {
    display:none;
}

.label-box > label {
    cursor:pointer;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:10;
}

input:checked + .label-box {
    background:rgba(39, 78, 125, 0.1);
    border:1px solid #04346c;
}

input:checked + .label-box hr {
    border-color:#666;
}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width: 481px) and (max-width : 767px) {

    h1 {
        font-size:30px;
    }

    h3 {
        font-size:18px;
    }

    input[type=submit] {

        margin-top:10px;
        width:100%;
    }
}

@media only screen and (min-width: 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width: 768px) and (max-width: 979px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
