.page-register input[type=submit] {
    width:100%;
}

.page-register .user-form > div {
    margin-bottom:20px;
}

.page-register .user-form > .row-submit {
    margin-bottom:0;
}

.page-register .pricing-tier-summary {
    padding:20px;
}

.page-register .title-pricing-tier {
    color:#274E7D;
    font-size:3em;
    margin-top:0;
}

.page-register .title-pricing-tier small {
    display:block;
    font-size:0.9rem;
    min-height:0.9rem;
}

.page-register .form-register-input-group {
    margin-bottom:15px;
}
