.label-box {
    position: relative;
}

.label-box > input {
    display:none;
}

.label-box > label {
    cursor:pointer;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:10;
}

.page-register input:checked + .label-box {
    background:rgba(39, 78, 125, 0.1);
    border:1px solid #04346c;
}

.page-register input:checked + .label-box hr {
    border-color:#666;
}

.page-register input[type=submit] {
    width:100%;
}

.page-register .user-form > div {
    margin-bottom:20px;
}

.page-register .user-form > .row-submit {
    margin-bottom:0;
}

.page-register .pricing-tier-summary {
    padding:20px;
}

.page-register .title-pricing-tier {
    color:#274E7D;
    font-size:3em;
    margin-top:0;
}

.page-register .title-pricing-tier small {
    display:block;
    font-size:0.9rem;
    min-height:0.9rem;
}

.page-register .form-register-input-group {
    margin-bottom:15px;
}
